body {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
}

h2,
h1,
p,
h5,
h4 {
  color: #0d3663;
  text-align: center;
}

h1,
p {
  color: #2664b1;
}
.c-sunny {
  display: block;
  text-align: center;
  color: #eec60a;
  font-size: 30px;
}

.sunny {
  display: block;
  text-align: center;
  color: #eec60a;
  font-size: 30px;
}
